.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(
    135deg,
    #f3f4f6,
    #e0e7ff
  ); /* Background gradient */
  border-bottom: 1px solid #ccc; /* Optional: Add a border */
}

.icon {
  cursor: pointer; /* Change cursor to indicate it's clickable */
  font-size: 24px; /* Adjust size as necessary */
  padding: 10px;
  transition: transform 0.3s ease; /* Animation for the icon */
}

.icon:hover {
  transform: scale(1.1); /* Scale effect on hover */
}

.logout {
  margin-left: auto; /* Push logout button to the right */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition */
}

.logout.fade-in {
  opacity: 1; /* Fully visible when fade-in class is applied */
}

.logout.fade-out {
  opacity: 0; /* Fully hidden when fade-out class is applied */
}

.logout button {
  background-color: #d43f52; /* Use your primary color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.logout button:hover {
  background-color: #b72e3f; /* Darker shade for hover effect */
}
